@import "tailwindcss";

@theme {
  --color-primary: #3b82f6; 
  --color-dark: #111827;
  --color-light: #f3f4f6;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--color-dark);
  color: var(--color-light);
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
}

html {
  scroll-behavior: smooth;
}
